:root {
  --color-primary: #ea4c89;
  --color-primary-lighter: #f082ac;
  --color-light: #ffffff;
  --color-background: #efefef;
  --color-dark: black;
  --color-dark-lighter: #999;
  --color-dark-darker: rgb(87, 87, 87) 99;
  --color-shadow: rgba(149, 157, 165, 0.2);
  --color-shadow-darker: rgba(85, 90, 95, 0.2);

  --header-size: 3rem;
  --main-margin: 15rem;

  --size-sm: 10px;
  --size-md: 20px;
  --size-lg: 40px;
  --size-xl: 60px;
}

html {
  height: 100%;
}

body {
  background-color: var(--color-background);
  height: 100%;
}
