main {
  /* background-color: var(--color-light); TODO chevauche le box shadow du header bizarre */
  padding: 2rem 0 0 0;
}

header {
  background-color: white;
  box-shadow: lightgray 0px 2px 4px;
  height: 3rem;
  padding: 1rem 2rem;
}

nav {
  display: flex;
  gap: 1rem;
}
