main {
  background-color: var(--color-light);
  width: 100%;
  min-width: 100vh;
  height: 80vh;
  margin: auto;
  padding: var(--size-lg);
  border-radius: 0;
  margin-top: 0;
}

header {
  background-color: white;
  box-shadow: none;
  height: var(--header-size);
  padding: 1rem 2rem;
  width: 100%;
  min-width: 100vh;
}

nav {
  display: flex;
  gap: 1rem;
}

@media (min-width: 450px) {
  /* TABLET STYLE */
}

@media (min-width: 1250px) {
  /* DESKTOP STYLE */
  main {
    width: 60%;
    margin-top: var(--size-sm);
    border-radius: 20px;
  }

  header {
    box-shadow: lightgray 0px 2px 4px;
  }
}
